name: CI Documentation Checks

on: [pull_request]

permissions:
  contents: read

jobs:
  lint-markdown:
    name: Lint markdown
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gaurav-nelson/github-action-markdown-link-check@1.0.15
        with:
          use-quiet-mode: "yes"
          use-verbose-mode: "yes"
          config-file: .github/workflows/markdownlink-config.json
